@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9fafb;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

* {
  transition: background-color 0.2s ease;
}
